.brand {
    font-weight: bold;
    font-size: 20px; }

.text-center {
    text-align: center;
}

.quote-card {
    background: #fff;
    color: #222222;
    padding: 20px;
    padding-left: 50px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12);
    position: relative;
    overflow: hidden;
    min-height: 120px;
}
.quote-card p {
    font-size: 22px;
    line-height: 1.5;
    margin: 0;
    max-width: 80%;
}
.quote-card cite {
    font-size: 16px;
    margin-top: 10px;
    display: block;
    font-weight: 200;
    opacity: 0.8;
}
.quote-card:before {
    font-family: Georgia, serif;
    content: "“";
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 5em;
    color: rgba(238, 238, 238, 0.8);
    font-weight: normal;
}
.quote-card:after {
    font-family: Georgia, serif;
    content: "”";
    position: absolute;
    bottom: -110px;
    line-height: 100px;
    right: -32px;
    font-size: 25em;
    color: rgba(238, 238, 238, 0.8);
    font-weight: normal;
}
@media (max-width: 640px) {
    .quote-card:after {
        font-size: 22em;
        right: -25px;
    }
}

.site-header {
    position: relative;
    background-color: #def7ff; }

.site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem; }
@media (min-width: 660px) {
    .site-header__wrapper {
        padding-top: 0;
        padding-bottom: 0; }
    .site-header__wrapper > * {
        flex: 1; } }
@media (min-width: 660px) {
    .site-header__start {
        text-align: center; } }

@media (min-width: 660px) {
    .site-header__middle {
        order: -1; } }

@media (min-width: 660px) {
    .site-header__end {
        display: flex;
        justify-content: flex-end;
        /* Better for LTR/RTL support */ } }

@media (max-width: 659px) {
    .site-header__end {
        padding-right: 4rem; } }

@media (min-width: 660px) {
    .nav__wrapper {
        display: flex; } }

@media (max-width: 659px) {
    .nav__wrapper {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: -1;
        background-color: #d9f0f7;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-100%);
        transition: transform 0.3s ease-out, opacity 0.3s ease-out; }
    .nav__wrapper.active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0); } }

.nav__item:not(:last-child) {
    margin-right: 1.5rem; }

.nav__item a {
    font-size: 15px;
    display: block;
    padding: 0.5rem 1rem; }
@media (min-width: 660px) {
    .nav__item a {
        padding-left: 0;
        padding-right: 0; } }
.nav__toggle {
    display: none; }
@media (max-width: 659px) {
    .nav__toggle {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem; } }

.main-btn{
    height: 55px;
    line-height: 45px;
    background-color: #99ff33;
    font-size: 20px;
    font-weight: 700;
}
